#slbl1{
    display: block;
    text-align: center;
    font-size: 8em;
}
#slbl2{
    display: block;
    text-align: center;
    font-size: 8em;
}
#countlabel3{
    display: block;
    text-align: center;
    font-size: 8em;
}